
/* toggle in label designing */
.toggle {
    position : relative ;
    display : inline-block;
    width : 100px;
    height : 52px;
    border-radius: 30px;
    border: 2px solid gray;
    background-color: #E57373;
}

/* After slide changes */
.toggle:after {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 1px;
    left: 1px;
    transition:  all 0.5s;
    background-image: url(6299_wojak_cope.png);
    background-size: 50px 50px;

}

/* Checkbox checked effect */
.checkbox:checked + .toggle::after {
    left : 49px;
    background-image: url(wojak-pointing-2781830877.gif);
}

/* Checkbox checked toggle label bg color */
.checkbox:checked + .toggle {
    background-color: #66BB6A;
}

/* Checkbox vanished */
.checkbox {
    display : none;
}

*{
    font-family: "Comic Sans MS"
}